html, body {
  background: linear-gradient(123deg, #053455, #381366);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: clip;
  }

#sky{
  width: 80vw;
  height: 1100px;
  position: absolute;
  border:3px  white;
  animation: rotation 1s infinite;
  border-radius: 100%;
  box-shadow: 0 0 14px 9px rgb(185, 185, 250);
  margin-left: 180px;
}

#sky2{
  width: 80vw;
  height: 1100px;
  position: absolute;
  border:3px  white;
  animation: rotation 1s infinite;
  border-radius: 100%;
  box-shadow: 0 0 14px 9px rgb(118, 118, 235);
  margin-left: 180px;
  margin-top: 7%;
}

.star {
      width: 2.4px;
      height:2.4px;
      background-color:white;
      border-radius:50%; 
      position: absolute;
      animation: twinkle 2s infinite;
      z-index: 1;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  @keyframes twinkle {
    50% {transform: rotate(180deg);}
  }
  
  .ground {
    width: 400px;
    height: 400px;
    background: linear-gradient(298deg,#537895,#09203F);
    position: fixed;
    border-radius: 12%;
    transform: skew(-80deg, 38deg);
    z-index: 3;
    margin-top: 450px; 
  }
  
  #kh{
    height: 20%;
    width: 10%;
    margin-left: 60%;
    position: fixed;
    margin-top: 16%;
    z-index: 2;
  }
  
  #mk{
    height: 20%;
    width: 10%;
    margin-left: 67%;
    position: fixed;
    margin-top: 16%;
    z-index: 2;
  }

  #hide{
    color: white;
    text-align: center;
    display: none;
  }

  @media only screen and (max-width: 1020px) {
    .show{
      display: none;
    }

    #hide{
      display: block;
    }
  }